name: update-events
on:
  schedule:
    - cron: '0 3 * * *'
  workflow_dispatch:

jobs:
  update-events:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repo
        uses: actions/checkout@v4

      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'

      - name: Update events list
        run: node ./update-events.js
        env:
          API_URL: ${{ vars.NEWSROOM_API_URL }}

      - name: Commit and push if changed
        uses: stefanzweifel/git-auto-commit-action@v5
        with:
          commit_message: 'chore: Update upcoming events list'
          file_pattern: 'README.md'
          commit_user_name: 'github-actions[bot]'
          commit_user_email: 'github-actions[bot]@users.noreply.github.com'
          commit_author: 'github-actions[bot] <github-actions[bot]@users.noreply.github.com>'